
<app-header></app-header>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


<router-outlet></router-outlet>

























































































  <!-- <form class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Welcome to Angular Project-2</h3>
              <h5 class="mb-5">Please select your login type</h5>
              <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="admin_login()" routerLink="/admin-login">Admin</button> |
              <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="user_login()" routerLink="/user-login"> User </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form> -->

<!-- <app-login></app-login> -->
<!-- <app-user-login></app-user-login> -->