*{
    padding: 10px;
}
.container {
    align-content: center;
    margin-left: 33%;
}
div>button {
    padding: 5px;
    color: white;
}
.edit {
    background-color: green;
    border: 1px;
}
.remove {
    background-color: red;
    border: 1px;
    margin-left: 5px;
}

.content {
    padding: 0;
}
table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
  }
  td, th {
    border: .5px solid #000000;
    text-align: center;
    padding: 8px;
    height: 50px;
  }
  #name {
    width: 50px;
    justify-content: center;
  }
  #quantity {
    width: 50px;
    justify-content: center;
  }
  #expdate {
    width: 150px;
  }
  #tags {
    width: 80px
  }