<p>products-details works!</p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

<div class="container" style="width: 550px;">
    <h1>Product Details</h1>
    <div class="actions" style="float: right;">
        <button class="edit" routerLink="/create-product"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button class="remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    <div class="content" style="border: 0.5px solid black;">
        <h4>
            Product Name : Product1 <br>
            Quantity : <br>
            Expiry Date (DD/MM/YYYY) : <br>
            Description : <br>
            Tags : <br>
        </h4>
    </div>
</div>