
<!-- <h2>Home Screen</h2> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

<div class="search">
    <input type="text" [(ngModel)]="filteredString">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
    <input type="search">
      <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
      </button>
  </div>
  <button style="margin-left: 47.5%; margin-top: 50px;" id="getData" type="submit" (click)="getData()">
    <i class="fa fa-refresh"
            style="font-size: 18px;">
        </i>
  </button>
  <button routerLink="/products-details">
    <i class="fa fa-pencil"
            style="font-size: 18px;">
        </i>
  </button>
  <div>
    <table id="products">
      <tr>
        <th id="checkbox">Checkbox</th>
        <th id="name">Name</th>
        <th id="quantity">Quantity</th>
        <th id="expdate">Expiry Date (YYYY-MM-DD)</th>
        <th id="desc">Description</th>
        <th id="tags">Tags</th>
        <th id="actions">Actions</th>
      </tr>
    </table>
  </div>